<!doctype html>
<html>
<head>
    <title>Looking Glass</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&family=Hammersmith+One&family=Manrope&family=Raleway+Dots&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&family=Darker+Grotesque:wght@300&family=Hammersmith+One&family=Manrope&family=Raleway+Dots&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&family=Darker+Grotesque:wght@300&family=Hammersmith+One&family=Manrope&family=Raleway+Dots&family=Righteous&family=Zen+Kaku+Gothic+New:wght@300;500&display=swap" rel="stylesheet">

</head>
<body>
        <div id="sidepanel">
            <img id="caticon" src="/img/cat.png">
            <h1>Looking Glass</h1>
            <div id="intropost">

                <p>Create your own account and share your content</p>

                <a href="/login">Login</a>
                <span class="divide">◌ ◌ ◌ ◌ ◌ ◌ ◌</span>
                <a href="/signup">Signup</a>
            </div>

        </div>

        <div id="content">
            <div id="mockpost">
                <img id="sampleimg" src="/img/lilceasers.jpeg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, harum maxime quaerat natus nihil sequi minus laborum facere est hic temporibus? Sequi, pariatur. Soluta maxime deserunt ex nam cumque laboriosam!</p>
            </div>
        </div>

<script src="main.js"></script>
</body>
</html>
